@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
}

/* HERO SECTION */

nav {
  display: flex;
  justify-content: center;
}

nav p {
  padding: 0px 20px;
  font-size: 20px;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.hero-section {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), url(imgs/agency-hero-img.jpg);
  background-size: cover;
  background-color: rgb(244, 132, 132);
  height: 500px;
  color: white;
  position: relative;
}

.hero-section > h2 {
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  left: 50%;
  transform:translate(-50%);
  top: 40%
}

/* SERVICES SECTION */

.services-section {
  height: 400px;
  padding: 50px;
  box-sizing: border-box;
}

.services-section > h2 {
  color:rgb(117, 0, 140);
  margin: 0 0 20px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.service-block {
  width: 30%;
}

.service-block img {
  width: 100%;
  border-radius: 10px;
}

.service-block p {
  margin: 0;
  text-align: left;
  font-size: 15px;
}

