@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
}

/* HERO SECTION */

nav {
  display: flex;
  justify-content: center;
}

nav p {
  padding: 0px 20px;
  font-size: 20px;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.hero-section {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), url(imgs/agency-hero-img.jpg);
  background-size: cover;
  background-color: rgb(244, 132, 132);
  height: 500px;
  color: white;
  position: relative;
}

.hero-section > h2 {
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  left: 50%;
  transform:translate(-50%);
  top: 40%
}

/* SERVICES SECTION */

.services-section {
  padding: 50px;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.services-section > h2 {
  color:rgb(117, 0, 140);
  margin: 0 0 20px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.service-block {
  width: 30%;
}

.service-block img {
  width: 100%;
  border-radius: 10px;
}

.service-block p {
  margin: 0;
  text-align: left;
  font-size: 15px;
}

/* FOOTER SECTION */

.footer-section {
  height: 300px;
  background-color: rgb(2, 21, 107);
  padding: 50px 0;
  box-sizing: border-box;
}

.footer-section h2 {
  color: white;
}

input[type='email'] {
  color:white;
  border: none;
  border-style: none;
  background: none;
  border-bottom: 1px solid white;
  width: 30%;
  padding: 5px 10px;
  display: block;
  margin: 20px auto;
  outline: none;
}

input[type='email']::placeholder {
text-align: center;
color: rgb(159, 159, 159);
}

input[type='submit'] {

  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  }

  @media only screen and (max-width: 400px) {
    .services-section {
      height: auto;
    }

    .services-section div {
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .service-block {
      width: 80%;
      padding: 20px 0;
    }

    input[type='email'] {
      width: 80%;
    }

  }